*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body{
  margin-top: 50px;
  font-family: "Lato", sans-serif;
  background: #CFCBCB;
  line-height: 1.6;
  height: 200vh;
}

.create-title{
  font-family: 'Secular One', sans-serif;
  font-weight: 180;
  font-size: 60px;
  color: #778DB3;
}

.container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}


.textfield{
  width: 100%;
  justify-content: center;
  margin: 15px 0px;
}

.textfield > input{
  font-family: sans-serif;
  border: none;
  border-radius: 40px;
  padding: 15px;
    background: #E4E4E4;
    color: #313f57;
    font-size: 12pt;
    outline: none;
    width: 220px;
}


 .options{
  display: flex;
  flex-direction: column;
  gap: 2px;
}

 .create-message-subtitle{
  font-family: 'Secular One', sans-serif;
  font-weight: 400;
  font-size: 26px;
  color: #17486d;
}


.create-form{
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.create-form-left{
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.create-form-right{
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.button{
  width: 100%;
  padding: 3px;
  margin: 10px 0px;
  border: none;
  border-radius: 30px;
  outline: none;
  letter-spacing: 3px;
  color: #778DB3;
  background: #f5f5f5;
  cursor: pointer;
  font-family:"Secular One", sans-serif;
  font-size: 12pt;
}

.navbar{
  position: fixed;
  top:0;
  z-index: 1;
  display: flex;
  width: 100%;
  height: 50px;
  background: rgba(255,255,255,0.7);
  font-family:"Secular One", sans-serif;
}

.navbar ul{
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: center;
}

.navbar ul li{
  margin: 5 2rem;
  padding: 0rem;
  font-family: 'Secular One', sans-serif;
}

.navbar ul li a{
  text-decoration: none;
  text-transform: uppercase;
  color: #778DB3;
  font-size: 1.5rem;
}

.navbar ul li a:hover{
  color: skyblue;
}



 