
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="login.component.css">
    <title>Login</title>
</head>
<body>
  <div class="container">
      <nav class="navbar">
        <ul>
          <li><a (click)="scroll(home)">Home</a></li>
          <li><a (click)="scroll(login)">Login</a></li>
        </ul>
      </nav>
      <section  #home >
        <div class="message">
          <h1 >Welcome to<br /><span class="text-secondary">EletricGo!🔋</span> </h1>
          <div class="m">

          <img src="/assets/truck2.png.webp" class="image" alt="shipping">
          </div>
        </div>
      </section>

      <section #login>
        <div class="card-login">
          <h1>LOGIN</h1>
          <div class="textfield">
            <input type="text" name="username" placeholder="Username">
          </div>
          <div class="textfield">
            <input type="password" name="password" placeholder="Password">
          </div>
          <div class="textfield">
              <button class="btn-login" >Login</button>
              <button class="btn-login" [routerLink]="['/views/network']">Network</button>
              <button class="btn-login" [routerLink]="['/views/admin-page']">Admin</button>
              <button class="btn-login" [routerLink]="['/views/warehouse-manager']">Warehouse Manager</button>
              <button class="btn-login" [routerLink]="['/views/fleet-manager']">Fleet Manager</button>
              <button class="btn-login" [routerLink]="['/views/logistics-manager']">Logistics Manager</button>
          </div>
        </div>
      </section>
    </div>
</body>

