
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="login.component.css">
    <title>Login</title>
</head>
<body>
  <div class="container">
      <nav class="navbar">
        <ul>
          <li><a href="#home">Home</a></li>
          <li><a href="#login">Login</a></li>
        </ul>
      </nav>
      <section class="message" id="home" >
          <h1 >Welcome to<br /><span class="text-secondary">EletricGo!🔋</span> </h1>
          <img src="/assets/truck.webp" class="image" alt="shipping">
      </section>
      <section id="login">
        <div class="card-login">
          <h1>LOGIN</h1>
          <div class="textfield">
            <input type="text" name="username" placeholder="Username">
        <div class="textfield">
                    <input type="password" name="password" placeholder="Password">
        </div>

        <button class="btn-login" [routerLink]="['/views/network']">Login</button>
              </div>
        </div>
      </section>
    </div>
</body>

