<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="create-delivery.component.css">
  <title>Document</title>
</head>
  <body>
    <div class="container">
      <section>
        <div class="options">
          <h1 class="create-title">New Delivery?</h1>
          <img src="/assets/delivery1.gif" class="image"  alt="delivery" width="230" height="240">
          <h2 class="create-message-subtitle">Enter all information here!</h2>
        </div>
        <section #delivery>
          <div class="create-form">
            <div class="create-form-left">
            <div class="textfield">
            <input type="text" name="delId" placeholder="DeliveryIndentifier" required [(ngModel)]="dIdentifier">
          </div>
          <div class="textfield">
            <input type="text" name="date" placeholder="Date" required [(ngModel)]="date">
          </div>
          <div class="textfield">
            <input type="text" name="mass" placeholder="Mass" required [(ngModel)]="mass">
          </div>
        </div>
        <div class="create-form-right">
          <div class="textfield">
            <input type="text" name="timeLoad" placeholder="TimeLoad" required [(ngModel)]="timeLoad">
          </div>
    
          <div class="textfield">
            <input type="text" name="timeUnload" placeholder="TimeUnload" required [(ngModel)]="timeUnload">
          </div>
          <div class="textfield">
            <input type="text" name="deliveryWarehouse" placeholder="DeliveryWarehouse" required [(ngModel)]="deliveryWarehouse">
          </div>
          <div class="button">
            <button class="button" type="submit" (click)="createDelivery()">Create Delivery!</button>
          </div>
          </div>
          </div>
        </section>
      </section>
    </div>

    <section>
      <app-list-deliveries></app-list-deliveries>
    </section>

  </body>
</html>
