<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
  <body>
    <div class="container">
      <section id="c">
        <div class="options">
          <h1 class="create-title">New Delivery</h1>
          <img src="/assets/delivery1.gif" class="image"  alt="delivery" width="315" height="325">
          <h2 class="create-message-subtitle">Enter all information here!</h2>
          <div class="textfield">
            <input type="text" name="delId" placeholder="Delivery indentifier" required [(ngModel)]="dIdentifier">
          </div>
          <div class="textfield">
            <input type="text" name="date" placeholder="Date" required [(ngModel)]="date">
          </div>
          <div class="textfield">
            <input type="text" name="mass" placeholder="Mass" required [(ngModel)]="mass">
          </div>
          <div class="textfield">
            <input type="text" name="timeLoad" placeholder="TimeLoad" required [(ngModel)]="timeLoad">
          </div>
          <div class="textfield">
            <input type="text" name="timeUnload" placeholder="TimeUnload" required [(ngModel)]="timeUnload">
          </div>
          <div class="button">
            <button class="button" type="submit" (click)="createDelivery()">Create!</button>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
