*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body{
  margin: 0;
  font-family: "Lato", sans-serif;
  background: #CFCBCB;
  line-height: 1.6;
  height: 100vh;
  overflow: hidden;
}

.container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}


.textfield{
  width: 100%;
  justify-content: center;
  margin: 6px 0px;
}

.textfield > input{
  width: 100%;
  border: none;
  border-radius: 30px;
  padding: 12px;
  background: #ffffff;
  color: #778DB3;
  font-size: 12pt;
  outline: none;
  box-sizing: border-box;
}


 .create-title{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 90px;
  color: #778DB3;
}

 .options{
  display: flex;
  flex-direction: column;
  gap: 1px;
}

 .create-message-subtitle{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 26px;
  color: #17486d;
}


 section h1{
  color: #08090a;
  font-family: 'Montserrat',sans-serif;
  font-size: 2.2rem;
  text-align: left, justify;
}


.button{
  width: 50%;
  border: none;
  border-radius: 30px;
  padding: 12px;
  background: #ffffff;
  color: #778DB3;
  font-size: 12pt;
  outline: none;
  box-sizing: border-box;
}



 