<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="truck-status.component.css">
</head>

  <body> 
    <nav class="navbar">
        <ul>
          <li><a href="#home">Home</a></li>
          <li><a href="#fleetManager" [routerLink]="['/views/fleet-manager']">FLEET MANAGER</a></li>
        </ul>
      </nav>
    <div id="container">

        <div id="sideImg">
            <img src="/assets/off.png" class="image" alt="shipping">         
               <div *ngIf="submitt">
                  <small class="created-message">Success!</small>
                </div> 
                <div *ngIf="submittt">
                  <small class="created-message">Success!</small>
                </div> 
       </div> 

        <div id="contentSection">
                 <h2>TRUCK STATUS</h2> 
                 <h3> Enter licence plate</h3>

            <form class="create-form" #createForm="ngForm">
           
          <div id="data1">
                
                <div class="textfield">
                    <input type="text" required maxlength="8" #LicencePlate="ngModel" [class.is-invalid]="LicencePlate.invalid && LicencePlate.touched" name="LicencePlate" placeholder="Licence Plate" pattern="([A-Za-z]{2}-[0-9]{2}-[A-Za-z]{2})" title="Must be of format XX-00-XX" required [(ngModel)]="licencePlate"> 
                    <div *ngIf="LicencePlate.touched">
                        <small class="requiredError" *ngIf="LicencePlate.errors?.['required']">Licence Plate is required!</small>
                        <small class="requiredError" *ngIf="LicencePlate.errors?.['pattern']">Licence Plate must must be of format XX-00-XX!</small>
                      </div>
                </div>
           
          </div>
     
            <div class="buttonn">
              <button [disabled]="!createForm.valid"  class="button-create" [ngClass]="{valid: createForm.valid}" type="submit" (click)="getTruck()" >SHOW!</button>
            </div>

          <h1>ACTIVE?</h1>

        <div id="content">
              <div id="solution-output_" >
                <table class="table">
                  <tr><span>{{truckActive}}</span></tr>
                </table>
              </div>
        </div>


            <div class="buttonenable">
                <button [disabled]="!createForm.valid"  class="button-create" [ngClass]="{valid: createForm.valid}" type="submitt" (click)="changeStatustoActive()" >ENABLE!</button>
            </div>


              <div class="buttondisable">
                <button [disabled]="!createForm.valid"  class="button-create" [ngClass]="{valid: createForm.valid}" type="submittt" (click)="changeStatustoInactive()" >DISABLE!</button>
                
              </div>
            <!-- <div class="button">
                <input type="submit" value="DONE!" (click)="createTruck()">
            </div> -->

        </form>
        </div>
    </div>


 </body>
