<!doctype html>
<html lang="en">
   <h1> Regulamento Geral de Proteção de Dados (RGPD) </h1> 
<p>
   O Regulamento (UE) 2016/679 do Parlamento Europeu e do Conselho, que é o novo Regulamento Geral sobre a Proteção de Dados (RGPD) da União Europeia (UE), estabelece as regras relativas ao tratamento, por uma pessoa, uma empresa ou uma organização, de dados pessoais relativos a pessoas na UE.
Para além do reforço da proteção jurídica dos direitos dos titulares dos dados, o RGPD define novas regras e procedimentos do ponto de vista tecnológico, e é neste campo que iremos fazer uso desta lei.
O RGPD é aplicável obrigatoriamente a partir do dia 25 de maio de 2018.
Em Portugal, a Lei da Proteção de Dados Pessoais (transpõe para a ordem jurídica portuguesa a Diretiva n.o 95/46/CE, do Parlamento Europeu e do Conselho, de 24 de Outubro de 1995, relativa à proteção das pessoas singulares no que diz respeito ao tratamento dos dados pessoais e à livre circulação desses dados).
Relativamente aos dados pessoais
“Os princípios e as regras em matéria de proteção das pessoas singulares relativamente ao tratamento dos seus dados pessoais deverão respeitar, independentemente da nacionalidade ou do local de residência dessas pessoas, os seus direitos e liberdades fundamentais, nomeadamente o direito à proteção dos dados pessoais.”
Assim, a gestão dos dados pessoais deve ser realizada de maneira a respeitar a liberdade, segurança e justiça. Dessa forma, tendo em conta que no projeto há a autenticação de utilizadores, no sistema, via SSO, existe a necessidade de proteger os dados dos utilizadores que se registam no sistema.
Em relação ao RGPD, cada utilizador tem direito à proteção: do seu nome, do email, palavra-passe e número de telemóvel. Todos estes dados são anonimizados e caso haja a vontade, por parte do utilizador, de cancelar a sua conta, todos os seus dados serão removidos do sistema.
Concluindo, o utilizador quando se regista pela primeira vez, irá dar consentimento para que os dados que disponibiliza sejam guardados para futuras autenticações. Ser-lhe-á mostrado os termos e condições para que este, de livre vontade, decida se aceita ou não prosseguir com o seu registo.
</p>
    
<h2> Princípios do tratamento dos dados </h2>
<p>
   Com base no art. 5o, existem diversos princípios pelos quais nos devemos fundamentar para o tratamento dos dados recolhidos. Recordando que a recolha destes deve ter sempre uma razão e sentido de ser feita.
A seguir, daremos destaque aos princípios que consideramos essenciais para a fundamentação do nosso projeto neste tema:
• Princípio da Integridade e Confidencialidade: Os dados devem ser tratados garantindo-se a sua segurança e proteção contra tratamento não autorizado ou contra a sua perda ou danificação acidental.
• Princípio da lealdade: Os dados devem ser tratados de forma lícita, leal e transparente.
No primeiro princípio apresentado, a nossa aplicação “EletricGo” irá desenvolver-se no sentido de que o utilizador consinta, de forma livre, aos termos e condições que lhe serão apresentados de forma clara, garantindo que os dados fornecidos não serão usados para outra finalidade.
No Princípio da lealdade, garantimos que todos os dados guardados no sistema serão tratados com toda a transparência e de uma forma equilibrada tendo em conta os interesses dos responsáveis pelo tratamento, por um lado, e dos titulares dos dados, por outro.
Fundamentos do tratamento de dados
Neste ponto, baseamo-nos no art. 6o para o desenvolvimento, no SPA (frontend) de uma checkBox para consentir os termos e condições.
• Consentimento: Quando exista consentimento do titular dos dados para uma finalidade específica.
Tratamento baseado no consentimento
• O responsável pelo tratamento deve poder demonstrar que o titular dos dados deu o seu consentimento
• Se se tratar de declaração escrita, deve individualizada e em linguagem clara e simples (termos e condições apresentados de forma sucinta, explícita e sem ordem de dúvidas);
• Direito de retirar o consentimento, o qual deve ser tão fácil de dar como de retirar (quando o utilizador pretende apagar a conta, logo os seus dados).
</p>

<h2> Direitos por parte do utilizador </h2>
<p>
Iremos ter em conta os artigos 12o a 23o do RGPD.
• Direito de Informação: Quais são os direitos dos indivíduos em relação aos seus dados. No contexto do projeto essas informações são apresentadas de forma clara e compreensível antes de serem coletadas ao utilizador.
• Direito de Acesso: O utilizador tem direito a saber se os seus dados são objeto de tratamento, para que fim irão ser utilizados. Permitindo, assim, que os utilizadores que se registem percebam como é que os seus dados pessoais serão utilizados e verificar se estão íntegros.
• Direito ao Apagamento: No exercício da liberdade de expressão e de informação. Os utilizadores têm a liberdade de manter os seus dados pessoais precisos e atualizados de forma a que não haja desentendimentos e irregularidades.
</p>
<div class="textfield">
   <button>I accept.</button>
</div>

</html>