<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="list-planned-routes.component.css">
</head>

<body>
    <nav class="navbar">
        <ul>
          <li><a href="#home">Home</a></li>
          <li><a href="#logisticsManager" [routerLink]="['/views/logistics-manager']">LOGISTICS MANAGER</a></li>
        </ul>
      </nav>
      
    <div id="contentSection">
    <h2>ALL PLANNED ROUTES</h2>
  <!--    <h3>Selected: {{chosenTruck}}</h3>-->


    </div>

      <table id="ARQSI" class="table">
        <tr>
          <th><input type="text" class="search-input" placeholder="Plan Number" title="Please type a number" required [(ngModel)]="searchString"></th>
          <th><input type="text" class="search-input" placeholder="Truck ID" title="Please type the ID" required [(ngModel)]="truckId"></th>
          <th><input type="text" class="search-input" placeholder="Date" title="Please type the date" required [(ngModel)]="date"></th>
           <th><input type="text" class="search-input" placeholder="City Begin" title="Please type the route" required [(ngModel)]="routesB"></th>
            <th><input type="text" class="search-input" placeholder="City End" title="Please type the route" required [(ngModel)]="routesE"></th>
<!--             <th><input type="text" class="search-input" placeholder="Route" title="Please type the route" required [(ngModel)]="routes"></th>
 -->            <th>Route</th>

            <!-- <th><input type="number" class="search-input" placeholder="Time" min="1" max="5" title="Time to charge must be between 1h and 5h" required [(ngModel)]="searchNumber"> </th> -->
          <th class="text-right"></th>

        </tr>

        <tbody>
        <tr *ngFor="let plannedRoute of plannedRoutes | filter : 'fleetPlaningId': searchString | filter : 'truckId': truckId| filter : 'date': date| filter : 'route': routesB| filter : 'route': routesE| paginate: { itemsPerPage: 8, currentPage: p} ; let i = index">
<!-- 
          <td class="text-left">{{plannedRoute.fleetPlaningId}}</td>
          <td class="text-left">{{plannedRoute.truckId}}</td>
          <td class="text-left">{{plannedRoute.date}}</td>
          <td class="text-left">{{plannedRoute.route}}</td> -->
          <td><span>{{plannedRoute.fleetPlaningId}}</span></td>
          <td><span>{{plannedRoute.truckId}}</span></td>
          <td><span>{{plannedRoute.date}}</span></td>
          <td><span>{{plannedRoute.route[0]}}</span></td>
          <td><span>{{plannedRoute.route[3]}}</span></td>
          <td><span>{{plannedRoute.route}}</span></td>

        </tr>
      </tbody>
      <pagination-controls (pageChange)= "p=$event"></pagination-controls>
      </table>
    </body>
