<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="fleet-manager.component.css">
</head>
<body>
  <div class="container">
      <nav class="navbar">
        <ul>
          <li><a href="#home">Home</a></li>
          <li><a (click)="scroll(createTruckComponent)">Create Truck</a></li>

        </ul>
      </nav>

      <section class="message"  >

        <div class="text-box">
          <p>WELCOME</p>
          <h1>FLEET MANAGER!</h1>
        </div>
       
   </section>
        <!-- <button class="btn-create" [routerLink]="['/views/create-truck']">create</button> -->
      <section #createTruckComponent>
        <app-create-truck></app-create-truck>
      </section>
     
    

    </div>
</body>