<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
  <body>
    <div class="container">
      <section id="c">
        <div class="options">
          <h1>Create a new Warehouse</h1>
          <div class="textfield">
            <input type="text" name="designation" placeholder="Designation">
          </div>
          <div class="textfield">
            <input type="text" name="latitude" placeholder="Latitude">
          </div>
          <div class="textfield">
            <input type="text" name="latitude" placeholder="Latitude">
          </div>
          <div class="textfield">
            <input type="text" name="longitude" placeholder="Longitude">
          </div>
          <div class="textfield">
            <input type="text" name="street" placeholder="Street">
          </div>
          <div class="textfield">
            <input type="number" name="doorNumber" placeholder="Door Number">
          </div>
          <div class="textfield">
            <input type="text" name="city" placeholder="City">
          </div>
          <div class="textfield">
            <input type="text" name="zipcode" placeholder="Zip Code">
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
