<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="create-warehouse.component.css">
  <title>Document</title>
</head>
  <body>
    <div class="container">
      <section>
          <div class="create-message">
            <h1 class="create-message-title">New location?</h1>
            <h2 class="create-message-subtitle">Let us know where!</h2>
          </div>
          <img class="warehouse-image" src="assets/ww.gif">
      </section>
      <section #warehouse>
        <form class="create-form" #createForm="ngForm">
          <div class="create-form-left">
            <div class="textfield">
              <input type="text" required #id="ngModel" pattern="^.{3}" [class.is-invalid]="id.invalid && id.touched"  name="id" placeholder="Warehouse Identifier"  [(ngModel)]="warehouseIdentifier">
              <div *ngIf="id.touched">
                <small class="requiredError" *ngIf="id.errors?.['required']">Warehouse Identifier is required!</small>
                <small class="wrongID" *ngIf="id.errors?.['pattern']">Warehouse Identifier must have 3 characters!</small>
              </div>
            </div>
            <div class="textfield">
              <input type="text" required maxlength="50"  #wDesignation="ngModel" [class.is-invalid]="wDesignation.invalid && wDesignation.touched"  name="designation" placeholder="Designation" [(ngModel)]="designation">
              <div *ngIf="wDesignation.touched">
                <small class="requiredError" *ngIf="wDesignation.errors?.['required']">Desigantion is required!</small>
              </div>
            </div>
            <div class="textfield">
              <input type="number" required #lat="ngModel" [class.is-invalid]="lat.invalid && lat.touched" name="latitude" placeholder="Latitude"  [(ngModel)]="latitude">
              <div *ngIf="lat.touched">
                <small class="requiredError" *ngIf="lat.errors?.['required']">Latitude must be a number and is required!</small>
              </div>
            </div>
            <div class="textfield">
              <input type="number" required #lon="ngModel" [class.is-invalid]="lon.invalid && lon.touched" name="longitude" placeholder="Longitude"  [(ngModel)]="longitude">
              <div *ngIf="lon.touched">
                <small class="requiredError" *ngIf="lon.errors?.['required']">Longitude must be a number and is required!</small>
              </div>
            </div>
            <div class="textfield">
              <input type="text" required #str="ngModel" [class.is-invalid]="str.invalid && str.touched" name="street" placeholder="Street" [(ngModel)]="street">
              <div *ngIf="str.touched">
                <small class="requiredError" *ngIf="str.errors?.['required']">Street is required!</small>
              </div>
            </div>
          </div>
          <div class="create-form-right">
              <div class="textfield">
                <input type="number" required #door="ngModel" min="1" name="doorNumber"  placeholder="Door Number"  [(ngModel)]="doorNumber">
                <div *ngIf="door.touched">
                  <small class="wrongNumber" *ngIf="door.errors?.['min']">Door number cannot be zero or negative!</small>
                  <small class="requiredError"  *ngIf="door.errors?.['required']">Door number must be a number and is required!</small>
                </div>
              </div>
              <div class="textfield">
                <input type="text"  required #cit="ngModel" name="city" placeholder="City" [(ngModel)]="city">
                <div *ngIf="cit.touched">
                  <small class="requiredError"  *ngIf="cit.errors?.['required']">City is required!</small>
                </div>
              </div>
              <div class="textfield">
                <input type="text" required #zipCode="ngModel" pattern="^\d{4}-\d{3}$" [class.is-invalid]="zipCode.invalid && zipCode.touched" name="zipcode" placeholder="Zip Code" [(ngModel)]="zipcode">
                <div *ngIf="zipCode.touched">
                  <small class="requiredError" *ngIf="zipCode.errors?.['required']">ZipCode is required!</small>
                  <small class="wrongPattern" *ngIf="zipCode.errors?.['pattern']">ZipCode must have this format: XXXX-XXX!</small>
                </div>
              </div>
              <div class="textfield">
                <input type="text" required #alt="ngModel" name="altitude" placeholder="Altitude" [(ngModel)]="altitude">
                <div *ngIf="alt.touched">
                  <small class="requiredError" *ngIf="alt.errors?.['required']">Altitude is required!</small>
                </div>
              </div>
              <div class="button">
                <button [disabled]="!createForm.valid"  class="button-create" [ngClass]="{valid: createForm.valid}" type="submit" (click)="createWarehouse()" >All done!</button>
                <div *ngIf="submit">
                  <small class="created-message">Warehouse created!</small>
                </div>
              </div>
          </div>
        </form>
      </section>

    </div>


  </body>
</html>
