@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Noto+Sans&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Noto+Sans&family=Righteous&family=Secular+One&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body{
  margin-top: 100px;
  font-size: 100%;
  background: #ffffff;
  height: 100vh;
}

.container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.create-message{
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.create-message-title{
  font-family: 'Secular One', sans-serif;
  font-weight: 400;
  font-size: 80px;
  color: #778DB3;
}

.create-message-subtitle{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 36px;
  color: #313f57;
}

.warehouse-image{
  width: 50vw;
}

.create-form{
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.create-form-left{
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.create-form-right{
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.textfield{
  width: 100%;
  justify-content: center;
  margin: 10px 0px;
}

.textfield > input{
  width: 100%;
  border: none;
  border-radius: 30px;
  padding: 15px;
  background: #f5f5f5;
  color: black;
  font-size: 12pt;
  outline: none;
  box-sizing: border-box;
}

input.ng-invalid.ng-touched {
  border: red 1px solid;
}

small{
  font-family: 'Secular One', sans-serif;
  font-size: 8pt;
  color: #e3242b;
}
.created-message {
  color: darkcyan;
}

.button-create{
  width: 100%;
  padding: 15px;
  margin: 10px 0px;
  border: none;
  border-radius: 30px;
  outline: none;
  letter-spacing: 3px;
  color: #778DB3;
  background: #f5f5f5;
  cursor: pointer;
  font-size: 12pt;
}

