<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <!--<div id="contentSection">
    <h2>ALL EXISTENT WAREHOUSES</h2>
    </div>-->

<div class="container">


  <table  class="table table-bordered  table-striped">
    <thead>

      <tr>
        <th><input
          type="text"
          class="form-control"
          name="searchString"
          placeholder="Warehouse ID"
          [(ngModel)]="searchString"
        /></th>
        <th>Designation</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th>Street</th>
        <th>Door number</th>
        <th>City</th>
        <th>ZipCode</th>
        <th>Altitude</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let warehouse of warehouses | filter : 'warehouseIdentifier' : searchString; let i = index">
        <td class="text-left">{{warehouse.warehouseIdentifier}}</td>
        <td><span>{{warehouse.designation}}</span></td>
        <td><span>{{warehouse.latitude}}</span></td>
        <td><span>{{warehouse.longitude}}</span></td>
        <td><span>{{warehouse.street}}</span></td>
        <td><span>{{warehouse.doorNumber}}</span></td>
        <td><span>{{warehouse.city}}</span></td>
        <td><span>{{warehouse.zipcode}}</span></td>
        <td><span>{{warehouse.altitude}}</span></td>
      </tr>
    </tbody>

  </table>
</div>
</body>
</html>
