*{
  margin: 0;
  padding: 0;
}

body{
  margin: 0;
  font-family: "Lato", sans-serif;
  background: #EFEEF4;
  line-height: 1.6;
  height: 100vh;
  overflow: hidden;
}

.container{
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

.navbar{
  position: fixed;
  top:0;
  z-index: 1;
  display: flex;
  width: 100%;
  height: 60px;
  background: rgba(239,238,244,0.7);
  font-weight: 700;

}

.navbar ul{
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: center;
}

.navbar ul li{
  margin: 0 1rem;
  padding: 1rem;
  font-family: 'Secular One', sans-serif;

}

.navbar ul li a{
  text-decoration: none;
  text-transform: uppercase;

  color: #778DB3;
  font-size: 1.5rem;

}

.navbar ul li a:hover{
  color: skyblue;
}
/* CSS */
.button-73 {
  background-color: #FFFFFF;
  border-radius: 40em;
  border-style: none;
  box-shadow: #ADCFFF 0 -12px 6px inset;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  font-family: 'Secular One', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  padding: 1rem 1.3rem;
  quotes: auto;
  text-align: center;
  text-decoration: none;
  transition: all .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-left: 47%;
  margin-bottom: 1%;
}

.button-73:hover {
  background-color: #778DB3;
  box-shadow: #37465f 0 -6px 8px inset;
  transform: scale(1);
}

.button-73:active {
  transform: scale(1);
}

@media (min-width: 768px) {
  .button-73 {
    font-size: 1rem;
    padding: .75rem 2rem;
  }
}
