*{
  margin: 0;
  padding: 0;
  overflow: hidden;

}
body{
overflow: hidden;
}

.container{
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

.navbar{
  position: fixed;
  top:0;
  z-index: 1;
  display: flex;
  width: 100%;
  height: 60px;
  background: #f9f8fb;
  font-weight: 700;
}

.navbar ul{
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: center;
}

.navbar ul li{
  margin: 0 1rem;
    padding: 1rem;
    font-family: 'Secular One', sans-serif;
}

.navbar ul li a{
  text-decoration: none;
  text-transform: uppercase;

  color: #778DB3;
  font-size: 1.5rem;

}

.navbar ul li a:hover{
  color: skyblue;
}
body{
  font-family: Mukta, sans-serif;
  height: 80vh;
  display: grid;
  justify-content: center;
  align-items: center;
  color: #778DB3;
  font-size: 0.9rem;
  background-color: #f9f8fb;
  width: 100%;

}

.container{
  border-collapse: collapse;
  background-color: #f9f8fb;
  text-align: center;
  overflow: hidden;
  text-align: center;
  width: 100%;
  letter-spacing: 0.1rem;


}
.container thead{
  height: 40px;

}

tr{
  text-align: center;


}

th{


  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 0.8rem;
  font-weight: 900;
  color: #4f648a;

}

td{
  padding: 0.1rem 2rem;
}


#contentSection h2{
  font-family: sans-serif;
  font-size: 40px;
  color: #778DB3;
  margin-bottom:-10%;
  position: relative;
  font-weight: 900;
  text-align: center;

}
