
<nav class="navbar" id="navbar">
    <ul>
      <li >
        <a href="/views/login">Home</a>
      </li>
      <li >
          <a id="delivery" (click)="makeDelivery()">Make Delivery</a>
      </li>

       <li id="Option1" style="display: none"> <a (click)="scrollManualDelivery(listTrucksSection)"  >Manual Delivery</a></li>
      <li id="Option2" style="display: none"> <a (click)="scrollAutomaticDelivery(listTrucksSection)">Automatic Delivery</a></li>
    </ul>
  </nav>

  <div class="page">
    <div class="center">

      <div #canvasSection>
        <canvas #canvas id="canvas"  (mousemove)="onMouseMove($event)" (click)="onClick()"></canvas>
      </div>

      <div #listTrucksSection>
        <app-list-truck  ></app-list-truck>
      </div>

      <div #listDeliveries>
        <app-list-deliveries></app-list-deliveries>
      </div>
    </div>
  </div>



