
<nav class="navbar" id="SectionNavbar">
    <ul>
      <li >
        <a href="/views/login">Home</a>
      </li>
      <li >
          <a id="OptionMakeDelivery" (click)="makeDelivery()">Make Delivery</a>
      </li>

       <li id="OptionManualDelivery" style="display: none"> <a>Manual Delivery</a></li>
      <li id="OptionAutomaticDelivery" style="display: none"> <a (click)="scrollAutomaticDelivery(listRoutesSection)">Automatic Delivery</a></li>
      <li id="OptionStartAutomaticDelivery" style="display: none"> <a (click)="startAutomaticMovement()">Start</a></li>
    </ul>
  </nav>

  <div class="page">
    <div class="center">

      <div #canvasSection>
        <canvas #canvas id="canvas"  (mousemove)="onMouseMove($event)" (click)="onClick()"></canvas>
      </div>

      <div #listRoutesSection>
        <app-get-planned-route id="AutomaticSection" style="display: none" [networkChecker]="checkerNetworkPlanedRoutes" (getRouteAndTruckEvent)="setAutomaticMovementRoutAndTruck(done,$event)" ></app-get-planned-route>
      </div>
      <div  style="align-content: center">
        <!-- HTML !-->
        <button #done id="ButtonDoneSection" class="button-73" role="button" style="display: none" (click)="scrollCanvas(canvasSection)">Done</button>
      </div>

    </div>
  </div>



