<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="list-truck.component.css">
</head>

<body>
    <div id="contentSection">
    <h2>ALL EXISTENT TRUCKS</h2>
    </div>

    <!-- <div class="container">
      <table class="table table-bordered  table-striped">
        <thead>
          <tr>
            <th>
              <input type="text" class="search-input" placeholder="Licence_Plate" pattern="([A-Za-z]{2}-[0-9]{2}-[A-Za-z]{2})" title="Must be of format XX-00-XX" required [(ngModel)]="licencePlate"></th>
            <th>Tare</th>
            <th>Capacity</th>
            <th>Batery_Capacity</th>
            <th>Autonomy</th>
            <th>Time_Charging</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let truck of trucks">
            <td><span>{{truck.licencePlate}}</span></td>
            <td><span>{{truck.tare}}</span></td>
            <td><span>{{truck.capacity}}</span></td>
            <td><span>{{truck.maxBateryCapacity}}</span></td>
            <td><span>{{truck.autonomyFullChargeLoad}}</span></td>
            <td><span>{{truck.timeCharging}}</span></td>
          </tr>
        </tbody>
      </table>

      <div class="button">
        <input type="submit" value="SEARCH!" (click)="getTruck()">
    </div>
      </div> -->

      <form>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon">
              <i class="glyphicon glyphicon-search"></i>
            </div>
            <!-- <input
              type="text"
              class="form-control"
              name="searchString"
              placeholder="Type to search..."
              [(ngModel)]="searchString"
            /> -->
          </div>
        </div>
      </form>

      <table class="table">
        <tr>
          <th><input type="text" class="search-input" placeholder="Licence_Plate" pattern="([A-Za-z]{2}-[0-9]{2}-[A-Za-z]{2})" title="Must be of format XX-00-XX" required [(ngModel)]="searchString">
          </th>
          <th>Tare</th>
          <th>Capacity</th>
            <th>Batery_Capacity</th>
            <th>Autonomy</th>
            <th>Time_Charging </th>
          <th class="text-right"></th>
        </tr>
        <tr
          *ngFor="let truck of trucks | filter : 'licencePlate': searchString ; let i = index"
        >
          <td class="text-left">{{truck.licencePlate}}</td>
          <td><span>{{truck.tare}}</span></td>
          <td><span>{{truck.capacity}}</span></td>
          <td><span>{{truck.maxBateryCapacity}}</span></td>
          <td><span>{{truck.autonomyFullChargeLoad}}</span></td>
          <td><span>{{truck.timeCharging}}</span></td>
          <td><span><button class="button-21" role="button" id="chooseTruck" style="display: none">Choose</button></span></td>
        </tr>


      </table>


    </body>
