body{
  font-family: Mukta, sans-serif;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
  color: #778DB3;
  font-size: 0.9rem;
  background-color: #f9f8fb;
  width: 100%;

}

.table{
  margin-bottom: 30%;  /*10% */

}

.container{
  border-collapse: collapse;
  background-color: f9f8fb;
  text-align: center;
  overflow: hidden;
  width: 100%;
  letter-spacing: 0.1rem;


}
 .container thead{
   height: 40px;

 }

tr{
  text-align: center;


}

th >input{
  text-align: center;
  border: none;
 border-radius: 30px;
 padding: 10px;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 0.8rem;
  font-weight: 900;
  color: #4f648a;
width: 80%;
}


th {
  text-align: center;

  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 0.8rem;
  font-weight: 900;
  color: #4f648a;

}

td{
  padding: 0.1rem 2.5rem;
}


#contentSection h2{
  margin-top: 15%;

  font-family: sans-serif;
font-size: 30px;
color: #778DB3;
position: relative;
font-weight: 900;
text-align: center;
}



     /* CSS */
 .button-21 {
   align-items: center;
appearance: none;
background-color: #3EB2FD;
background-image: linear-gradient(1deg, #4F58FD, #149BF3 99%);
background-size: calc(100% + 20px) calc(100% + 20px);
border-radius: 100px;
border-width: 0;
box-shadow: none;
box-sizing: border-box;
color: #FFFFFF;
cursor: pointer;
display: inline-flex;
font-family: CircularStd,sans-serif;
font-size: 1rem;
height: auto;
justify-content: center;
line-height: 1.5;
padding: 6px 20px;
position: relative;
text-align: center;
text-decoration: none;
transition: background-color .2s,background-position .2s;
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
vertical-align: top;
white-space: nowrap;
}

.button-21:active,
.button-21:focus {
  outline: none;
}

.button-21:hover {
  background-position: -20px -20px;
}

.button-21:focus:not(:active) {
  box-shadow: rgba(40, 170, 255, 0.25) 0 0 0 .125em;
}


