<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="list-truck.component.css">
</head>

<body>
    <div id="contentSection">
    <h2>ALL EXISTENT TRUCKS</h2> 
    </div>

    <div class="container">
      <table class="table table-bordered  table-striped">
        <thead>
          <tr>
            <th>Licence_Plate</th>
            <th>Tare</th>
            <th>Capacity</th>
            <th>Batery_Capacity</th>
            <th>Autonomy</th>
            <th>Time_Charging</th>
    
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let truck of trucks">
            <td><span>{{truck.licencePlate}}</span></td>
            <td><span>{{truck.tare}}</span></td>
            <td><span>{{truck.capacity}}</span></td>
            <td><span>{{truck.maxBateryCapacity}}</span></td>
            <td><span>{{truck.autonomyFullChargeLoad}}</span></td>
            <td><span>{{truck.timeCharging}}</span></td>
          </tr>
        </tbody>
      </table>
    </div>
    </body>
