
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="create-truck.component.css">
    <title>Login</title>
</head>
<body>
  <div class="container">
      <section class="message" id="home" >
          <h1 >Define the truck data</h1>
          <img src="/assets/truck.webp" class="image" alt="shipping">
      </section>
      <section id="">
       
        <div class="textfield">
            <input type="text" name="LicencePlate" placeholder="Licence Plate"> 
        </div>
        <div class="textfield">
            <input type="password" name="Tare" placeholder="Tare">
        </div>
        <div class="textfield">
            <input type="text" name="Capacity" placeholder="Capacity"> 
        </div>
        <div class="textfield">
            <input type="password" name="MaximumBatteryCapacity" placeholder="Maximum Battery Capacity">
        </div>
        <div class="textfield">
            <input type="text" name="Autonomy" placeholder="Autonomy"> 
        </div>
        <div class="textfield">
            <input type="password" name="TimeCharging" placeholder="Time Charging">
        </div>
        
      </section>
    </div>
</body>


