
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="create-truck.component.css">
</head>

  <body> 
    <div id="container">

        <div id="sideImg">
            <img src="/assets/truck.webp" class="image" alt="shipping">         
        </div>

        <div id="contentSection">
                 <h2>NEED MORE TRUCKS?</h2> 
                 <h3>CREATE ANOTHER ONE</h3>
        
            <form class="create-form" #createForm="ngForm">
            <div id="data1">
                
                <div class="textfield">
                    <input type="text" required maxlength="8" #LicencePlate="ngModel" [class.is-invalid]="LicencePlate.invalid && LicencePlate.touched" name="LicencePlate" placeholder="Licence Plate" pattern="([A-Za-z]{2}-[0-9]{2}-[A-Za-z]{2})" title="Must be of format XX-00-XX" required [(ngModel)]="licencePlate"> 
                    <div *ngIf="LicencePlate.touched">
                        <small *ngIf="LicencePlate.errors?.['required']">Licence Plate is required!</small>
                        <small *ngIf="LicencePlate.errors?.['pattern']">Licence Plate must must be of format XX-00-XX!</small>
                      </div>
                </div>

                <div class="textfield" >
                    <input type="number" required maxlength="5" minlength="4" #Tare="ngModel" [class.is-invalid]="Tare.invalid && Tare.touched" name="Tare" placeholder="Tare" min="3000" max="20000" title="Tare must be between 3000kg and 20000kg" required [(ngModel)]="tare"> 
                    <div *ngIf="Tare.touched">
                        <small *ngIf="Tare.errors?.['required']">Tare must be between 3000kg and 20000kg!</small>
                    </div>
                </div>

                <div class="textfield" >
                    <input type="number" required maxlength="5" minlength="4" #Capacity="ngModel" [class.is-invalid]="Capacity.invalid && Capacity.touched" name="Capacity" placeholder="Capacity" min="2000" max="20000" title="Capacity must be between 2000kg and 20000kg" required [(ngModel)]="capacity">  
                    <div *ngIf="Capacity.touched">
                        <small *ngIf="Capacity.errors?.['required']">Capacity must be between 2000kg and 20000kg!</small>
                    </div>
                </div>
            </div>

            <div id="data2">

                <div class="textfield" >
                    <input type="number" required maxlength="3" minlength="2" #MaxBatteryCapacity="ngModel" [class.is-invalid]="MaxBatteryCapacity.invalid && MaxBatteryCapacity.touched" name="MaxBatteryCapacity" placeholder="Maximum Battery Capacity" min="80" max="200" title="Max batery capacity must be between 80kWh and 200kWh" required [(ngModel)]="maxBateryCapacity"> 
                    <div *ngIf="MaxBatteryCapacity.touched">
                        <small *ngIf="MaxBatteryCapacity.errors?.['required']">Max batery capacity must be between 80kWh and 200kWh!</small>
                    </div>
                </div>

                <div class="textfield" >
                    <input type="number" required maxlength="4" minlength="3" #Autonomy="ngModel" [class.is-invalid]="Autonomy.invalid && Autonomy.touched" name="Autonomy" placeholder="Autonomy" min="100" max="8000" title="Autonomy must be between 100km and 8000km" required [(ngModel)]="autonomyFullChargeLoad"> 
                    <div *ngIf="Autonomy.touched">
                        <small *ngIf="Autonomy.errors?.['required']">Autonomy must be between 100km and 8000km!</small>
                    </div>
                </div>

                <div class="textfield" >
                    <input type="number" required maxlength="1" minlength="1" #TimeCharging="ngModel" [class.is-invalid]="TimeCharging.invalid && TimeCharging.touched" name="TimeCharging" placeholder="Time Charging" min="1" max="5" title="Time to charge must be between 1h and 5h" required [(ngModel)]="timeCharging"> 
                    <div *ngIf="TimeCharging.touched">
                        <small *ngIf="TimeCharging.errors?.['required']">Time to charge must be between 1h and 5h!</small>
                    </div>
                </div>
            </div>

            <div class="button">
                <button [disabled]="!createForm.valid"  class="button-create" [ngClass]="{valid: createForm.valid}" type="submit" (click)="createTruck()" >DONE!</button>
                <div *ngIf="submit">
                  <small class="created-message">Truck created!</small>
                </div>
              </div>
            <!-- <div class="button">
                <input type="submit" value="DONE!" (click)="createTruck()">
            </div> -->

        </form>
        </div>
    </div>


 </body>



