
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="create-truck.component.css">
</head>
<!-- <body>
  <div class="container">
    <section id="c">
        <div class="options">
          <h1>Define the truck data</h1>
          <!-- <img src="/assets/buildTruck.png" class="image" alt="shipping"> 
        
            <div class="textfield">
                <input type="text" name="LicencePlate" placeholder="Licence Plate"> 
            </div>
            <div class="textfield">
                <input type="number" name="Tare" placeholder="Tare">
            </div>
            <div class="textfield">
                <input type="number" name="Capacity" placeholder="Capacity"> 
            </div>
            <div class="textfield">
                <input type="number" name="MaximumBatteryCapacity" placeholder="Maximum Battery Capacity">
            </div>
            <div class="textfield">
                <input type="number" name="Autonomy" placeholder="Autonomy"> 
            </div>
            <div class="textfield">
                <input type="number" name="TimeCharging" placeholder="Time Charging">
            </div>
        </div>
    </section>
    </div>
</body>
 -->

 <body> 
    <div id="container">

        <div id="sideImg">
            <img src="/assets/truckalone.png" class="image" alt="shipping">         
        </div>

        <div id="contentSection">
                 <h2>CREATE YOUR TRUCK</h2> 



            <div id="data">
                <div class="textfield">
                    <input type="text" name="LicencePlate" placeholder="Licence Plate"> 
                </div>
                <div class="textfield">
                    <input type="number" name="Tare" placeholder="Tare">
                </div>
                <div class="textfield">
                    <input type="number" name="Capacity" placeholder="Capacity"> 
                </div>
                <div class="textfield">
                    <input type="number" name="MaximumBatteryCapacity" placeholder="Maximum Battery Capacity">
                </div>
                <div class="textfield">
                    <input type="number" name="Autonomy" placeholder="Autonomy"> 
                </div>
                <div class="textfield">
                    <input type="number" name="TimeCharging" placeholder="Time Charging">
                </div>
            </div>
            

            <button> DONE </button>

        </div>
        
    </div>


 </body>

