   *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
  }

  #container
 {
  display: flex;
justify-content: center;
align-items: center;
    height: 100vh;
    width: 100%;
    background:#f9f8fb;
    position: relative;
 }

 #sideImg
 {
   position: absolute;
   top: -9%;
   left: 60%;
   cursor: pointer;
  
 }

  #sideImg img{
    height: 550px;
  }
 
  #sideImg:hover img{
  animation: animate 0.2s linear;
 }

  @keyframes animate {
     0%
    {
      transform: scale(1);
    }
    20%
    {
    transform: scale(0.94);
    }
    40%
    {
    transform: scale(0.98);
    }
    80%
    {
    transform: scale(1.02);
    }
    100%
    {
    transform: scale(1);
    }
  }

  #contentSection{
    height: 100px;
    width: 300px;
     position: relative;
     left: 10%;
    
 }

  #contentSection h2{
    font-family: sans-serif;
  font-size: 40px;
  color: #778DB3;
  right: 120%;
  bottom:150%;
  position: relative;
  font-weight: 900;
  

  }

  #contentSection h3{
    font-family: sans-serif;
    font-size: 15px;
    color: #465a7c;
    font-weight: 700;
    margin: 30px 15px;
    right: 120%;
    bottom:150%;
    position: relative;
    }

  .textfield {
    height: 60px;
    width: 100%;
    display:flexbox;
    flex-direction:column;
    align-items:center;
    margin: 38px 36px;
  
  }
  
  .textfield > input{
    font-family: sans-serif;
    border: none;
    border-radius: 30px;
    padding: 15px;
      background: #E4E4E4;
      color: #313f57;
      font-size: 12pt;
      outline: none;
      width: 260px;
  }

  
  #data1
 {
     cursor: pointer;
   top: -65%;
   right: -30%;
   width: 90%;
   display:inline-flex;
   flex-direction:row;
   right: 190%;
   position: relative;

 }
 #data2
 {
     cursor: pointer;
   top: -90%;
   right: -30%;
   width: 90%;
   display:inline-flex;
   flex-direction:row;
   right: 190%;
   position: relative;
 }


  .button
 {
  font-family: sans-serif;
    width: 150px;
     cursor: pointer;
     font-size: 20px;
   position: absolute;
   top: 245%;  /*210 */
   right: -134%;
  

 }

 .button:hover{
    animation: animate 1s linear;
    
 }

 .button > input{
  font-weight: 700;
  cursor: pointer;
  font-family: sans-serif;
  color: #ffffff;
  width: 100%;
  border: none;
  border-radius: 30px;
  padding: 15px;
    background: #778DB3;
    font-size: 12pt;
}

h4 {
  color: #A80000;
  font-family:  sans-serif;
  font-weight: 700;
  margin-bottom: 4px;
  width: 90px;
  font-size: 20px;
   position: absolute;
   top: 250%;  /*210 */
   right: -210%;
  
}

.clear {
  font-weight: 700;
  font-family: sans-serif;
  color: #ffffff;  
  background: #394861;
  font-size: 10pt;
  border: none;
  border-radius: 30px;
  padding: 10px;
  width: 30%;
  position: absolute;
  top: 195%;  /*210 */  
  right: -210%;
}
.clear:hover {

  animation: animate 1s linear;
}

.messa
{
width:30%;
 font-family: sans-serif;
    font-size: 15px;
  position: absolute;
  top: 300%;  /*210 */
  right: -210%; 

}