   *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
  }

  #container
 {
  display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
    height: 100vh;
    width: 100%;
    background:#f9f8fb;
    position: relative;
 }

 #sideImg
 {
  height: 500px;
  width: 500px;
   position: absolute;
   top: -11%;
   right: 15%;
   display: grid;
  place-items: center;
   cursor: pointer;
  
 }

  #sideImg img{
    height: 550px;
  }
 
  #sideImg:hover img{
  animation: animate 0.2s linear;
 }

  @keyframes animate {
     0%
    {
      transform: scale(1);
    }
    20%
    {
    transform: scale(0.94);
    }
    40%
    {
    transform: scale(0.98);
    }
    80%
    {
    transform: scale(1.02);
    }
    100%
    {
    transform: scale(1);
    }
  }

  #contentSection{
    height: 400px;
    width: 750px;
     position: absolute;
     left: 6%;
     top: calc(50% - 280px);
    
 }

  #contentSection h2{
  font-family: sans-serif;
  font-size: 90px;
  color: #778DB3;
  font-weight: 900;
  text-align: center;

  }

  #contentSection h3{
    font-family: sans-serif;
    font-size: 15px;
    color: #313f57;
    font-weight: 900;
    text-align: center;
    margin: 20px 15px;

    }

  .textfield {
    height: 60px;
    width: 27%;
    display:inline-flex;
    flex-direction:row;
    align-items:center;
    justify-content: center;
    margin: 25px 33px;
  
  }
  
  .textfield > input{
    font-family: sans-serif;
    border: none;
    border-radius: 30px;
    padding: 15px;
      background: #E4E4E4;
      color: #313f57;
      font-size: 12pt;
      box-shadow: 0px 10px 40px #00000010;
      outline: none;
      box-sizing: border-box;
      width: 140%;

  }

  
  #data
 {
     cursor: pointer;
   position: absolute;
   top: 85%;
   right: -30%;
   width: 140%;

 }


  .button
 {
  font-family: sans-serif;
    height: 50px;
    width: 150px;
     background: #ffffff;
     cursor: pointer;
     font-size: 20px;
   position: absolute;
   top: 105%;
   right: -66%;
  

 }

 .button:hover{
    animation: animate 1s linear;
    
 }

 .button > input{
  font-weight: 700;

  cursor: pointer;
  font-family: sans-serif;
  color: #ffffff;
  width: 100%;
  border: none;
  border-radius: 30px;
  padding: 15px;
    background: #313f57;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000010;
    outline: none;
    box-sizing: border-box;
}



  
  
  