*{
  margin: 0;
  padding: 0;
}

body{
  margin: 0;
  font-size: 100%;
  background: #ffffff;
  line-height: 1.6;
  height: 100vh;
  overflow: hidden;
}

section{
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  scroll-snap-align: center;
}

.container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}


.input{
  display: flex;
  flex-direction: row;
  align-content: space-around;
}

#options-dropdown select{
  margin: 15px 0px;
  height: 50px;
  border-radius: 30px;
  font-family: sans-serif;
  border: none;
  padding: 15px;
  background:#E4E4E4;
  color: #313f57;
  outline: none;
}



.container thead{
  height: 40px;

}


.navbar{
  position: fixed;
  top:0;
  z-index: 1;
  display: flex;
  width: 100%;
  height: 60px;
  background: rgba(239,238,244,0.7);
  font-weight: 700;

}

.navbar ul{
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: center;
}

.navbar ul li{
  margin: 0 1rem;
  padding: 1rem;
  font-family: 'Secular One', sans-serif;

}

.navbar ul li a{
  text-decoration: none;
  text-transform: uppercase;

  color: #778DB3;
  font-size: 1.5rem;

}

.navbar ul li a:hover{
  color: skyblue;
}

.table{
  margin-bottom: 10%;


}

#content h1{
  font-family: sans-serif;
  font-size: 13px;
  color: #4d5b74;
  font-weight: 800;
  text-align: center;
  margin-top: 25%;
}

#content {
  margin-right: -60%;
}



tr{
  text-align: center;


}

th >input{
  text-align: center;
  border: none;
  border-radius: 30px;
  padding: 10px;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 0.8rem;
  font-weight: 900;
  color: #4f648a;
  width: 80%;
}


th {
  text-align: center;

  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 0.8rem;
  font-weight: 900;
  color: #4f648a;

}

td{
  padding: 0.1rem 2.5rem;

}


#contentSection h2{
  font-family: sans-serif;
  font-size: 40px;
  color: #778DB3;
  margin-top: 30%;
  font-weight: 900;
  text-align: center;

}

#options-dropdown h3{
  font-family: sans-serif;
  font-size: 13px;
  color: #4d5b74;
  font-weight: 700;
}

#options-dropdown {
  font-family: sans-serif;
  font-size: 13px;
  color: #4d5b74;
  font-weight: 700;
  margin-right: 14%;
  margin-top: -19%;
}

#solution-output{
  margin-left: 30%;

}

.output{
  margin-top: -165%;

}


.textfield{
  justify-content: space-around;
  margin-bottom:80%;
  margin-top: -60%;
  margin-left: -70%;

  width: 70%;
}

.textfield > input{

  width: 100%;
  border: none;
  border-radius: 30px;
  padding: 15px;
  background: #d8d6d6;
  color: black;
  font-size: 12pt;
  outline: none;
  box-sizing: border-box;

}

#data1
{ height: 10%;
  margin-top:-12%;
  align-items: center;
  cursor: pointer;
  width: 30%;
  right: -35% ;
  display:flex;

  flex-direction:row;
  position: relative;
  text-align: center;
}

.button
{

  display:flex;
  flex-direction:row;
  font-family: sans-serif;
  width:10%;
  height: 30px;
  cursor: pointer;
  margin-top: -17%;

  align-items: center;

}

.button:hover{
  animation: animate 1s linear;

}

.button-create{
  font-weight: 600;
  cursor: pointer;
  font-family: sans-serif;
  color: #ffffff;
  width: 100%;
  border: none;
  border-radius: 30px;
  text-align: center;
  padding: 15px;
  background: #97a8c7;
  font-size: 10pt;
}

input.ng-invalid.ng-touched {
  border: red 1px solid;
}

small{
  font-family: 'Secular One', sans-serif;
  font-size: 7pt;
  font-weight: 700;

  color: #e3242b;
}
.created-message {
  font-family: 'Secular One', sans-serif;
  font-size: 15pt;
  font-weight: 700;
  justify-content: space-around;
  color: #222d41;



}

@keyframes animate {
  0%
  {
    transform: scale(1);
  }
  20%
  {
    transform: scale(0.94);
  }
  40%
  {
    transform: scale(0.98);
  }
  80%
  {
    transform: scale(1.02);
  }
  100%
  {
    transform: scale(1);
  }
}
