<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="create-route.component.css">
  <title>Document</title>
</head>
  <body>
    <div class="container">
      <section id="c">
        <div class="options">
          <h1>Create a new Route</h1>
          <div class="textfield">
            <input type="text" name="routeId" placeholder="Route Id">
          </div>
          <div class="textfield">
            <input type="text" name="distance" placeholder="Distance">
          </div>
          <div class="textfield">
            <input type="text" name="routeTime" placeholder="Route Time">
          </div>
          <div class="textfield">
            <input type="text" name="batteryWaste" placeholder="Battery Waste">
          </div>
          <div class="textfield">
            <input type="text" name="arrivalId" placeholder="Warehouse Arrival Id">
          </div>
          <div class="textfield">
            <input type="text" name="departureId" placeholder="Warehouse Departure Id">
          </div>
          <div class="textfield">
            <input type="text" name="extraTime" placeholder="Extra Time">
          </div>
        </div>
        <button> CREATE </button>
      </section>
    </div>
  </body>
</html>
