<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<div class="container">
  <h2>All Deliveries</h2>
  <table class="table table-bordered  table-striped">
    <thead>
      <tr>
        <th>DeliveryId</th>
        <th><input type="text" class="search-input" placeholder="Date" required [(ngModel)]="searchString">
          <th>Mass</th>
        <th>TimeLoad</th>
        <th>TimeUnload</th>
        <th>DeliveryWarehouse</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let delivery of deliveries | filter : 'date' : searchString | paginate: { itemsPerPage: 1, currentPage: p} ; let i = index">
        <td><span>{{delivery.dIdentifier.dIdentifier}}</span></td>
        <td class="text-left">{{delivery.date}}</td>
        <td><span>{{delivery.mass}}</span></td>
        <td><span>{{delivery.timeLoad}}</span></td>
        <td><span>{{delivery.timeUnload}}</span></td>
        <td><span>{{delivery.deliveryWarehouse}}</span></td>
      </tr>
    </tbody>
    <pagination-controls (pageChange)= "p=$event"></pagination-controls>
  </table>
</div>
</body>
</html>
