body{
  font-family: Mukta, sans-serif;
  height: 50vh;
  display: grid;
  justify-content: center;
  align-items: center;
  color: #778DB3;
  font-size: 0.9rem;
  background-color:  #CFCBCB;;
}
.navbar{
  position: fixed;
  top:0;
  z-index: 1;
  display: flex;
  width: 100%;
  height: 60px;
  background: rgba(248,248,250,0.7);
  font-weight: 800;
}

.navbar ul{
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: center;
}



.container{
  border-collapse: collapse;
  background-color: f9f8fb;
  text-align: center;
  overflow: hidden;
  text-align: center;
  width: 100%;
  letter-spacing: 0.1rem;
}
 .container thead{
   height: 70px;
 }
thead{
  box-shadow: 0 5px 10px #ead3cd;
}

tr{
  text-align: center;
}

th{
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 0.8rem;
  font-weight: 900;
  color: #4f648a;

}

th > input{
  text-align: center;
  border: none;
  border-radius: 30px;
  padding: 10px;
  text-transform: uppercase;
  background: #f5f5f5;
  color: black;
  font-size: 0.8rem;
  outline: none;
  box-sizing: border-box;
}

td{
  padding: 0.2rem 3rem;
}

