body{
  font-family: Mukta, sans-serif;
  height: 50vh;
  display: grid;
  justify-content: center;
  align-items: center;
  color: #778DB3;
  font-size: 0.9rem;
  background-color:  #ffffff;
}

.navbar{
  position: center;
  top:0;
  z-index: 1;
  display: flex;
  width: 100%;
  height: 60px;
  background: rgba(255,255,255,0.7);
}

.navbar ul{
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: center;
}

.navbar ul li{
  margin: 5 2rem;
  padding: 0rem;
  font-family: 'Secular One', sans-serif;
}

.navbar ul li a{
  text-decoration: none;
  text-transform: uppercase;
  color: #778DB3;
  font-size: 1.5rem;
}

.navbar ul li a:hover{
  color: skyblue;
}

.btn-create{
  width: 15%;
  padding: 15px;
  margin: 10px 0px;
  border: line-width;
  border-radius: 25px;
  outline: none;
  letter-spacing: 3px;
  color: #4f648a;
  background: #f5f5f5;
  cursor: pointer;
  font-size: 12pt;
}
.container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

}
 .container thead{
   height: 90px;

 }

thead{
  box-shadow: 0 5px 10px #f7f7f7;
}

tr{
  text-align: center;
}

th{
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 0.8rem;
  font-weight: 900;
  color: #4f648a;

}

th > input{
  text-align: center;
  border: none;
  border-radius: 30px;
  padding: 10px;
  text-transform: uppercase;
  background: #f7f7f7;
  color: #4f648a;
  font-size: 0.8rem;
  outline: none;
  box-sizing: border-box;
}

table {
  width: 100%;
  color: #252a3b;
  background-color: #f8f8f8;
  }

th.mat-header-cell{
  text-align: center !important;

}

th{
  color: #53646f;
  font-weight: 200;
  font-size: 20px;
  padding: 12px 8px !important;
  vertical-align: middle !important;
}


td {
  padding: 12px 8px !important;
  vertical-align: middle !important;
  color: #53646f;
  font-size: 16px;
  font-weight: 200;
  position:relative;
  line-height: 18px !important;
  border:0 !important;
}

