<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="warehouse-manager.component.css">

  <title>Document</title>
</head>
<body>
  <div class="container">
    <nav class="navbar">
      <ul>
        <li><a href="#home">Home</a></li>
        <li><a href="#createWarehouse">Create Warehouse</a></li>
        <li><a href="#createDelivery">Create Delivery</a></li>
      </ul>
    </nav>
    <section class="message" id="home" >
      <h1 >Welcome Rui!</h1>
      <img src="assets/truck.webp" class="image" alt="shipping">
      <button class="btn-create" [routerLink]="['/views/create-warehouse']">create</button>
      <button class="btn-create" [routerLink]="['/views/create-delivery']">create</button>
    </section>

  </div>
</body>
</html>
